<!DOCTYPE html>

<html>

<head>
	<title>Inicio</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
		integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>

<body class="">

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="col-md-2">
			<a class="navbar-brand" href="/">INICIO</a>
		</div>
		<div class="collapse navbar-collapse col-md-10" id="navbarNav">
			<ul class="navbar-nav col-md-12">
				<li class="nav-item col-md-2">
					<a class="nav-link" href="/administradores">Administradores</a>
				</li>
				<li class="nav-item col-md-2">
					<a class="nav-link" href="/alumnos">Alumnos</a>
				</li>
				<li class="nav-item col-md-2">
					<a class="nav-link" href="/cursos">Cursos</a>
				</li>
				<li class="nav-item col-md-2">
					<a class="nav-link" href="/profesores">Profesores</a>
				</li>
				<li class="nav-item col-md-2">
					<a class="nav-link" href="/padres">Padres</a>
				</li>
			</ul>
		</div>
	</nav>

	<br>
	<br>

	<div>
		<h2 class="text-center">Plataforma de Gestión Estudiantil</h2>
	</div>

	<br>
	<br>

</body>

</html>