<!DOCTYPE html>

<html>

<head>
	<title>Profesores</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
		integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>

<body class="">

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="col-md-2">
			<a class="navbar-brand" href="/">INICIO</a>
		</div>
		<div class="collapse navbar-collapse col-md-10" id="navbarNav">
			<ul class="navbar-nav col-md-12">
				<li class="nav-item col-md-2">
					<a class="nav-link" href="/administradores">Administradores</a>
				</li>
				<li class="nav-item col-md-2">
					<a class="nav-link" href="/alumnos">Alumnos</a>
				</li>
				<li class="nav-item col-md-2">
					<a class="nav-link" href="/cursos">Cursos</a>
				</li>
				<li class="nav-item col-md-2">
					<a class="nav-link" href="/profesores">Profesores</a>
				</li>
				<li class="nav-item col-md-2">
					<a class="nav-link" href="/padres">Padres</a>
				</li>
			</ul>
		</div>
	</nav>

	<br>
	<br>

	<div>
		<h2 class="text-center">Gestión de Profesores</h2>
	</div>

	<br>
	<br>

	<div class="container">
		<div class="d-flex justify-content-end">
			<a href="/registrarProfesor">
				<button class="btn btn-success">Registrar profesor</button>
			</a>
		</div>
	</div>

	<br>
	<br>

	<div class="container text-center col-md-10">
		<table class="table">
			<thead class="thead-dark">
				<tr>
					<th scope="col">Id</th>
					<th scope="col">Nombres</th>
					<th scope="col">Apellidos</th>
					<th scope="col">Dni</th>
					<th scope="col">Correo</th>
					<th scope="col">Teléfono</th>
					<th scope="col">Sexo</th>
					<th scope="col">Fecha de Nacimiento</th>
					<th scope="col">Acciones</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="profesor: ${listaProfesores}">
					<td th:text="${profesor.id}"></td>
					<td th:text="${profesor.nombre}"></td>
					<td th:text="${profesor.apellido}"></td>
					<td th:text="${profesor.dni}"></td>
					<td th:text="${profesor.correo}"></td>
					<td th:text="${profesor.telefono}"></td>
					<td th:text="${profesor.sexo}"></td>
					<td th:text="${profesor.fecha_nac}">
						</th>
					<td>
						<a class="btn btn-warning" th:href="@{'/editarProfesor/'+${profesor.id}}">Editar</a>
						<a class="btn btn-danger" th:href="@{'/eliminarProfesor/'+${profesor.id}}">Eliminar</a>
					</td>
				</tr>

			</tbody>
		</table>
	</div>

</body>

</html>